:root {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  --text-primary: #ffffff;
  --text-primary-hover: #23907e;

  --text-secondary: #1f1f1f;
  --text-secondary-hover: #ffffff3a;

  --bg-primary: #2c3e50;
  --bg-secondary: #7b8a8b;
  --bg-light: #ecf0f1;

  --button-primary: #2c3e50;
  --button-primary-hover: #1a252f;

  --button-secondary: #7b8a8b;
  --button-secondary-hover: #133f4e;
  --transition-speed: 600ms;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

a:hover {
  color: var(--text-secondary-hover);
}

a:active {
  color: var(--text-secondary-hover);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  height: 15rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.header-container h1 {
  font-size: 3rem;
}

.header-container h2 {
  font-size: 2rem;
}

/* Animation */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

/* Browser */

.browser-window-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 100vh;
}

/* Browser tab */

.browser-tab-container {
  height: 6vh;
  display: flex;
  background-color: var(--bg-primary);
  border-radius: 1rem 1rem 0 0;
}

#first-tab {
  border-radius: 1rem 0 0 0;
}

.browser-tab-container .tab-item {
  display: flex;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 0.8rem;
  align-items: center;
  height: 100%;
  padding: 0 0.8rem;
  border-right: 1px solid rgba(255, 255, 255, 0.555);
}

.browser-tab-container .tab-item:hover {
  background-color: var(--button-secondary-hover);
}

.browser-tab-container .tab-item.active {
  background-color: var(--button-secondary);
}

.browser-tab-container .tab-item .fas {
  margin-left: 1rem;
  font-size: 0.7rem;
}

/* Browser search bar */

.browser-search-container {
  height: 8vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1.5fr 8fr 1fr;
  align-items: center;
  text-align: center;
  background-color: var(--bg-secondary);
}

.browser-search-container .navigation {
  display: flex;
  justify-content: space-evenly;
}

.browser-search-container .navigation a:hover {
  color: var(--text-secondary);
}

.browser-search-container .navigation .fas {
  font-size: 1.5rem;
  padding: 0.3rem;
}

.browser-search-container .navigation .fas:hover {
  cursor: pointer;
  border-radius: 25rem;
  background-color: var(--text-secondary-hover);
}

.browser-search-container .search-bar {
  height: 80%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 20rem;
  background-color: var(--bg-light);
}

.browser-search-container .search-bar .fas {
  color: var(--text-secondary);
}

.browser-search-container .search-bar .address-text {
  margin-left: 1rem;
}

.browser-search-container .search-bar .fa-star {
  margin-left: auto;
}

.browser-search-container .user-account {
}

.browser-search-container .user-account .fas {
  color: var(--text-secondary);
  margin-left: 1rem;
  font-size: 1.5rem;
}

/* Browser content */

.browser-content-container {
  position: relative;
  min-height: 84vh;
  overflow: hidden;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--bg-primary);
  border-radius: 0 0 1rem 1rem;
}

.browser-content-container h2 {
  font-size: 2.5rem;
}

.content-hidden {
  display: none;
}

.content-displayed {
  display: block;
}

/* card components style */

.card {
  margin-top: 1rem;
  justify-content: space-evenly;
  display: flex;
  gap: 1rem;
}

.card-item {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--bg-primary);
  width: 33%;
  text-align: center;
}

.card-item:hover {
  cursor: pointer;
  background-color: var(--button-primary-hover);
}

.card-img {
  width: 100%;
  filter: grayscale(100%);
}

.card-item:hover .card-img {
  filter: grayscale(0);
}

.card-img img {
  max-width: 100%;
  border-radius: 1rem;
}

.card-text {
  display: flex;
  overflow-wrap: break-word;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-primary);
}

/* About Me */

.about-me-wrapper {
  display: flex;
}

.about-me-text p:first-child {
  margin: 0;
}

.about-me-text p {
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

/* Line Wrap */

.line-wrap {
  display: flex;
  align-items: center;
}

.tiny-border {
  height: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.356);
}

/* Footer */

.footer-container {
  display: flex;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  justify-content: center;
  padding: 1rem 0;
}

/* Keyframes */
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
